<div class="card-passagem d-flex">
  <div class="detalhes-rumo">
    <div *ngIf="infoPassagem.dataVolta == null; else idaevolta">

      <p class="title-passagem" >Somente ida</p>
    </div>
    <ng-template #idaevolta>
      <p class="title-passagem" >Ida e Volta</p>
    </ng-template>


    <mat-divider></mat-divider>
    <div class="trajeto d-flex">
      <div class="infos-trajeto ">
        <p class="title-infos  f-we-600">
          Origem
        </p>
        <p class="box-roxo f-sz-1">
          {{infoPassagem.origem.nome}}
        </p>
      </div>
      <div class="infos-trajeto ">
        <p class="title-infos  f-we-600">
          Destino
        </p>
        <p class="box-roxo f-sz-1">
          {{infoPassagem.destino.nome}}
        </p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="datas d-flex">
      <div class="data-content">
        <p class="title-infos  f-we-600">Ida</p>
        <p class="box-roxo f-sz-1">{{infoPassagem.dataIda | date: 'dd/MM/yyyy' }}</p>
      </div>
      <div>
        <p class="title-infos  f-we-600">Volta</p>
        <p class="box-roxo f-sz-1">
          {{infoPassagem.dataVolta | date: 'dd/MM/yyyy'}}
        </p>
      </div>
    </div>
  </div>
  <div class="detalhes-preco">
    <p class="preco box-roxo">R${{ infoPassagem.taxaEmbarque + infoPassagem.precoIda }}</p>
    <div>
      <div class="d-flex flex-s-between">
        <p>
          1 adulto, econômica
        </p>
        <p>
          R$ {{ infoPassagem.precoIda }}
        </p>
      </div>
      <div class="d-flex flex-s-between">
        <p>
          Taxa de embarque
        </p>
        <p>
          R$ {{ infoPassagem.taxaEmbarque }}
        </p>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div class="d-flex flex-s-between">
      <p class="f-we-600 f-sz-2">
        Total
      </p>
      <p class="f-we-600 f-sz-2">
        R$ {{ infoPassagem.taxaEmbarque + infoPassagem.precoIda }}
      </p>
    </div>
    <div class="pagamento d-flex flex-s-between">
      <p class="opcoes">10% de desconto no Pix</p>
      <p class="opcoes">ou</p>
      <p class="opcoes">12x no cartão de crédito</p>
    </div>
    <button mat-flat-button color="primary" class="width100" >Comprar</button>
  </div>
</div>
