<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="selecao-idade">
      <ul>
        <li><strong>Adultos</strong></li>
        <li>(Acima de 12 anos)</li>
        <li>
          <app-botao-controle [valor]="data.adultos" (valorPassageiro)="quantidadeAdultos($event)"></app-botao-controle>
        </li>
      </ul>
      <ul>
        <li><strong>Crianças</strong></li>
        <li>(Entre 2 e 11 anos)</li>
        <li>
          <app-botao-controle [valor]="data.criancas" (valorPassageiro)="quantidadeCriancas($event)" ></app-botao-controle>
        </li>
      </ul>
      <ul>
        <li><strong>Bebês</strong></li>
        <li>(Até 2 anos)</li>
        <li>
          <app-botao-controle [valor]="data.bebes" (valorPassageiro)="quantidadeBebes($event)"></app-botao-controle>
        </li>
      </ul>
    </div>
    <div class="selecao-categoria">
      <p><strong>Categoria</strong></p>
      <mat-chip-listbox aria-label="Seleção de passagens" (change)="onClick($event)">
        <mat-chip-option #economica value="Econômica" [selected]="data.categoria == economica.value" >Econômica</mat-chip-option>
        <mat-chip-option #executiva value="Executiva" [selected]="data.categoria == executiva.value">Executiva</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
  <div mat-dialog-actions class="modal-actions">
    <button color="primary" mat-flat-button mat-dialog-close (click)="salvarDadosPassageiros()">BUSCAR</button>
  </div>
</section>

