<section class="buscapage">
  <div class="banner-busca">
    <img src="assets/imagens/banner-busca.png" alt="">
  </div>
  <app-container>
    <app-form-busca></app-form-busca>
  </app-container>
  <app-container>
    <div class="container-busca">
      <aside class="aside filtro">
        <h4 class="title-aside">Filtro</h4>
        <app-paradas></app-paradas>
        <mat-divider></mat-divider>
        <app-precos></app-precos>
        <mat-divider></mat-divider>
        <button mat-flat-button color="primary">BUSCAR</button>
      </aside>
      <div class="result-busca">
        <div class="cards-recomendados">
          <app-card-recomendacao></app-card-recomendacao>
          <app-card-recomendacao></app-card-recomendacao>
          <app-card-recomendacao></app-card-recomendacao>
        </div>
        <div class="cards-passagens">
          <app-card-passagem>
          </app-card-passagem>
        </div>
      </div>
    </div>
  </app-container>
</section>
