<section class="homepage">
  <app-banner src="assets/imagens/banner-homepage.png"
    alt="Banner da aplicação Jornada mostrando uma mulher negra de cabelos cacheados com um notebook aberto no colo e uma mochila azul ao seu lado em um fundo de céu ensolarado com vários balões coloridos">
  </app-banner>
  <app-container>
    <app-form-busca></app-form-busca>
    <app-titulo texto="Promoções"></app-titulo>
    <div class="card-wrapper">
      <app-card-busca></app-card-busca>
      <app-card-busca></app-card-busca>
      <app-card-busca></app-card-busca>
      <app-card-busca></app-card-busca>
      <app-card-busca></app-card-busca>
      <app-card-busca></app-card-busca>
      <app-card-busca></app-card-busca>
      <app-card-busca></app-card-busca>
      <app-card-busca></app-card-busca>
    </div>
    <app-titulo texto="Depoimentos"></app-titulo>
    <div class="card-wrapper">
      <app-depoimento />
      <app-depoimento />
      <app-depoimento />
    </div>
  </app-container>
  <app-banner src="assets/imagens/banner-homepage-rodape.png"
    alt="Banner da aplicação Jornada mostrando um homem branco sentado em uma montanha e um fundo com céu ensolarado ">
  </app-banner>
</section>
